<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous">

    </script>
    <script th:src="@{js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>

<body>
<p th:fragment="head">Page Header</p>
<button>Click Me </button>
<p th:fragment="footer">
    Copyright Pulkit 2017
</p>
</body>

</html>