<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ServerTime</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<button>Click Here to Get the Server Time</button>
<span>Current Server Time is &nbsp;</span><span id="time"></span>
<script type="text/javascript">
    $(document).ready(function () {
        $('button').click(function getServerTime() {
            $.ajax({
                url:"/time",
                success : function (result) {
                    $('#time').text(result);
                }
            })
        });
    });
</script>
</body>
</html>